window {
  -moz-appearance: none;
  background-color: rgb(238, 238, 238);
}

#titlebar {
  -moz-binding: url("chrome://global/content/bindings/general.xml#windowdragbox");
  -moz-appearance: -moz-window-titlebar;
  -moz-window-dragging: drag;
  margin-bottom: -30px;
  min-height:  39px;
}

#titlebar-spacer {
  pointer-events: none;
}

#titlebar-buttonbox {
  -moz-appearance: -moz-window-button-box;
}

label {
  pointer-events: none;
}
